.nav_bar {
  padding: 0px !important;
  background: #FF9062 !important;
  height: 100%;
  width: 100%;
  display: flex !important;
  z-index: 9;
  
}

.navbar_arrange {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-left: 15px;
   position: sticky;
  top: 0px;
}

.customImg {
  width: 50px;
  height: 52px;
}

.logo {
  margin: 15px;
}

.para_text {
  color: white;
  font-size: 12px;
}

.icon {
  display: flex;
  margin: 25px;
}

.icon.focus {
  filter: invert(7%) sepia(109%) saturate(734%) hue-rotate(80deg) brightness(74%) contrast(6%);
  width: 35px;
  padding-top: 10px;
}

.icon span {
  padding-bottom: 5px;
}

.nav_list ul {
  list-style-type: none;
  padding: 0px !important;
}

.nav_list ul li {
  padding: 12px;
  padding-left: 0px;
  height: 50px;
}

.active {
  width: 100%;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  height: 16px;
  /* background: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_list {
  padding-top: 33px;
}

.nav_list ul li span img {
  padding: 10px;
}

.nav_list ul li .active img {

  filter: invert(7%) sepia(109%) saturate(734%) hue-rotate(80deg) brightness(74%) contrast(6%);
  padding: 12px 3px;
  width: 100%;

}

.nav_list ul li .active .user_create {

  filter: invert(7%) sepia(109%) saturate(734%) hue-rotate(80deg) brightness(74%) contrast(6%);
  padding: 12px 6px;
}

.nav_list .none {
  width: 107px;
  padding: 5px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  height: 60px;
  background: #fff;
}

.nav_footer {
  position: absolute;
  bottom: 8px;
}

.version {
  font-size: 16px;
  color: #fff;
  font-family: Roboto_light;
}

.main-page {
  display: flex;
  height: 100%;
}

.nav_list ul li .active::before {
  content: "";
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  top: -40px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 15px 0px white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.tooltip_div .active {
  height: 50px !important;
  border-radius: 34px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background: #fff !important;
  width: 100% !important;
}

.logout .active {
  height: 50px !important;
  border-radius: 34px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background: #fff !important;
  width: 100% !important;
}

.nav_list ul li .active::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px -15px 0px white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav_list {
  text-align: center;
  justify-content: center;
}

.nav_list ul li {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.image_span {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tooltip_div {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logout {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* top: 18vh; */
  border-top: 1px dotted #fff;
  padding-top: 18px;
}

.icon_navLink {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tooltip_text {
  opacity: 0;
  background-color: #fff;
  color: #FF9062;
  text-align: left;
  border-radius: 3px;
  padding-right: 0px;
  font-weight: normal;
  padding: 10px;
  padding-left: 14px;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 105px;
  z-index: 1;
  font-size: 20px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  box-shadow: 1px 1px 1px 1px rgb(232 231 240) !important;
  white-space: nowrap;
  font-family: Roboto_medium;
}

.tooltip_div:hover .tooltip_text {
  opacity: 1 !important;
  transition: 0.8s;
  
}

.logout:hover .tooltip_text {
  opacity: 1 !important;
  transition: 0.8s;
}


.serviceIconStyle {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.line_align img{
  position: absolute;
  left: 0;
  z-index: 0;
  height: 100%;

}