.cardContainer{
  padding: 12px;
  border-radius: 10px;
  height: 180px;
  /* width: 327px; */
  min-width: 350px;
}
.subContainer{
    justify-content: space-between;
    padding-top: 30px;
}

.box_design{
  /* width:500px;
  height:300px; */
  /* border-radius:15px; */
  /* background-image: linear-gradient(to right, #7500BF , #742AFC); */
  overflow: hidden;
}


.circle-ripple {
  background-color: rgb(255 255 255 / 26%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: ripple 5s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 /5%),
                0 0 0 1em  rgb(255 255 255 /5%),
                0 0 0 3em  rgb(255 255 255 /5%),
                0 0 0 5em  rgb(255 255 255 /5%),
                0 0 0 6em  rgb(255 255 255 /5%),
                0 0 0 11em  rgb(255 255 255 /5%);
               
                
  }
  100% {
    box-shadow: 0 0 0 1em  rgb(255 255 255 /5%),
                0 0 0 3em  rgb(255 255 255 /5%),
                0 0 0 5em  rgb(255 255 255 /5%),
                0 0 0 8em  rgb(255 255 255 /5%),
                0 0 0 11em  rgb(255 255 255 /5%),
                0 0 0 15em  rgb(255 255 255 / 0%);
              
  }
} 

.welcome_text{
  font-size: 25px;
  font-weight: bold;
  color: #204768;
  text-transform: capitalize;
}